body
{
	text-align: center ;
	background: #18161f ;     /*couleur du fond*/  
    color: white;
    font-family: 'Kantumruy Pro', sans-serif;
} 


a 
{
	text-decoration: none;
}
a:visited 
{
	color: #ffffff;
}
a:hover 
{
	background: #19197f;
}
a:active 
{
	background: #19197f;
	color: #ffffff;
	text-decoration: none;
}


.nav
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
}
.nav li a 
{
	display: block;
	padding: 14px 16px;
}
.nav li a:hover 
{
	background-color: #FFFFFF;
}
  




  .navbar {
	position: sticky;
	top: 1px;
	text-decoration: underline;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
	height: 60px;
  }
  
  .navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  }
  
  .navbar li {
	margin: 0 20px;
  }
  
  .navbar a {
	color: #18161f;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
  }
  
  .navbar a:hover {
	color: #FFFFFF;
  }
  